[submodule "SharedModules"]
	path = SharedModules
	url = https://github.com/aleixrodriala/SharedModules
[submodule "MediaServiceCore"]
	path = MediaServiceCore
	url = https://github.com/aleixrodriala/MediaServiceCore
